<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextValidator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ValidatorTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B7CD7752CAA9533002DD109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B7CD79E2CAA95A7002DD109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B7CD7BC2CAA9793002DD109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8C7D222CAD3D3600F55D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
